@import './base.css';
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;700&display=swap');
#app {
  max-width: 100%;
  width: 100%;
  display: block;
  padding: 0;
  margin: 0;
  font-weight: normal;
  height: 100%;
}

/* Style Global*/

.font-manrope{
  font-family: Manrope;
}

.pb-0-important{
  padding-bottom: 0 !important;
}

/* Style Element */
.input .is-focus {
  box-shadow: 0 0 0 1px var(--vt-c-green-focus) inset !important;
}

.input .el-input__wrapper:hover{
  box-shadow: 0 0 0 1px var(--vt-c-green-focus) inset !important;
}

.input .el-input__wrapper{
  border-radius: 10px;
  box-shadow: 0 0 0 1px var(--vt-c-light-gray-val) inset;
}

.input .el-input__wrapper .el-input__inner{
  font-family: Manrope;
  font-size: 14px;
  font-weight: 500;
  line-height: 22px;
  letter-spacing: 0px;
  color: var(--vt-c-blue-val);
}

.input .el-input__wrapper .el-input__inner::placeholder{
  font-family: Manrope;
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0px;
  color: var(--vt-c-gray-val);
}

.el-table thead{
  font-family: Manrope;
  font-size: 12px;
  font-weight: 700 !important;
  line-height: 19px;
  letter-spacing: 0.20000000298023224px;
  color: var(--vt-c-dark-gray-val) !important;
}

.el-table th.el-table__cell{
  background-color: var(--vt-c-gray-background) !important;
  font-size: 12px;
  font-weight: 700 !important;
  line-height: 19px;
  letter-spacing: 0.20000000298023224px;
}
.el-table th.el-table__cell:first-child{
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}
.el-table th.el-table__cell:last-child{
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.el-pager li.is-active{
  background: #F8F8F8 !important;
  font-family: Manrope;
  font-size: 12px;
  font-weight: 600 !important;
  line-height: 19px;
  letter-spacing: 0px;
  text-align: left;
  border-radius: 10px;
  color: var(--vt-c-blue-val) !important;
}

.el-pager li:hover{
  color: var(--vt-c-blue-val) !important;
}

.el-pager li{
  font-family: Manrope;
  font-size: 12px !important;
  font-weight: 600 !important;
  line-height: 19px;
  letter-spacing: 0px;
  color: var(--vt-c-blue-val) !important;
}

.el-pagination .btn-prev{
  border: 1px solid #F1F2F4;
  border-radius: 8px;
  color: #A0AEC0 !important;
}

.el-pagination>.is-last{
  border: 1px solid #F1F2F4;
  border-radius: 8px;
  color: #A0AEC0 !important;
}

.el-pager{
  padding: 0 1rem !important;
}

.container-table-pagination .el-select .el-input.is-focus .el-input__wrapper{
  box-shadow: 0 0 0 1px var(--vt-c-gray-border) inset !important;
}

.container-table-pagination .el-select .el-input__wrapper.is-focus{
  box-shadow: 0 0 0 1px var(--vt-c-gray-border) inset !important;
}

.container-table-pagination .el-input__inner{
  font-family: Manrope;
  font-size: 12px;
  font-weight: 500;
  line-height: 19px;
  letter-spacing: 0px;
  color: var(--vt-c-blue-val) !important;
}

.el-select-dropdown__item.selected{
  color: var(--vt-c-blue-val) !important;
}

.container-table-filter .el-input{
  height: 54px;
  margin: 0 !important;
}

.container-table-filter .el-input .el-input__wrapper{
  border-radius: 10px;
  border: solid 1px var(--vt-c-light-gray-val);
}

.container-table-filter .el-input .el-input__wrapper.is-focus{
  border-radius: 10px;
  box-shadow: 0 0 0 1px var(--vt-c-gray-border) inset !important;
}
.container-table-filter div:first-child{
  width: calc(100% - 331px);
}
.container-table-filter div:last-child{
  width: 331px;
}

.container-table-filter .el-select .el-input.is-focus .el-input__wrapper{
  box-shadow: 0 0 0 1px var(--vt-c-light-gray-val) inset !important;
}

.container-table-filter .el-input .el-input__wrapper .el-input__inner{
  font-family: Manrope;
  font-size: 14px;
  font-weight: 500;
  line-height: 22px;
  letter-spacing: 0px;
  color: var(--vt-c-blue-val) !important;
}

.el-input .el-input__icon{
  color: var(--vt-c-blue-val);
  font-size: 18px;
}

.el-select .el-input .el-select__caret{
  color: var(--vt-c-blue-val) !important;
}

.el-dropdown-menu__item:not(.is-disabled):focus{
  color: var(--vt-c-red-menu) !important;
  background: var(--vt-c-white-val) !important;
}

@media (min-width: 1024px) {
  body {
    place-items: center;
  }
}
